.about {
	background-color: #f1f1f1;
}
.specialists {
	color: #152d41;
	margin-bottom: 50px;
	padding-top: 50px;
}
.specialist {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding-bottom: 50px;
}
.member-name {
	margin-bottom: 16px;
}
.specialist:nth-child(odd) {
	display: flex;
	align-items: center;
	padding-bottom: 40px;
}

.specialist .image {
	background-image: url(../images/woman-2593366_1280.jpg);
	min-width: 200px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-size: cover;
}
.specialist:nth-child(odd) .image {
	background-image: url(../images/woman-657753_1280.jpg);
	min-width: 200px;
	aspect-ratio: 1;
	border-radius: 50%;

	background-size: cover;
}

@media (min-width: 960px) {
	.specialist {
		flex-direction: row;
	}

	.specialist:nth-child(odd) {
		flex-direction: row-reverse;
	}
	.specialist:nth-child(odd) .member {
		text-align: right;
	}
}
