.footer {
	background-color: #4e4e4e;
	min-height: 71px;
	display: flex;
}

.company-name {
	display: flex;
	justify-content: center;
	padding-top: 38px;
	padding-bottom: 18px;
	color: #fff;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
@media (min-width: 991px) {
	.company-name{
		padding: 0;
	}
}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media (min-width: 991px) {
	.footer-container {
		flex-direction: row;
		align-items: center;
	}
}

.footer-icons {
	display: flex;
	gap: 10px;
	font-size: 31px;
	justify-content: center;
	padding-bottom: 42px;
}
@media (min-width: 991px) {
	.footer-icons {
		padding-bottom: 0;
	}
}
