.main-block {
	max-height: 600px;
	flex-direction: column;
	padding-top: 280px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 280px;
	background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
		url('/src/images/hills-615429_1280.jpg');
	background-size: cover;
}

.main-text {
	color: #ffffff;
	size: 36px;
	font-weight: 700;
	margin-bottom: 50px;
	max-width: 500px;
}

.h3-text {
	size: 18px;
	margin-bottom: 50px;
	color: #ffffff;
	font-weight: 700;
}

.link-button {
	color: #ffffff;
	border: 3px solid #ffffff;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 56px;
	transition: 1s;
	text-decoration: none;
}
@media (min-width: 991px) {
	.link-button:hover {
		color: black;
		background-color: #ffffff;
	}
}


