.navigation {
	background-color: #4e4e4e;
}
.navigation-content {
	display: flex;
	align-items: center;
	height: 50px;
}
.my {
	color: #ffffff;
	font-weight: 700;
	font-family: Roboto;
	font-size: 18px;
}
.navigation-list {
	display: none;
	margin-left: 80px;
	padding-top: 18px;
	margin-bottom: 20px;
	align-items: center;
	gap: 46px;
	margin-left: auto;
	align-items: center;
	font-weight: 400;
	font-size: 18px;
	transition: 1s;
}
.offer {
	text-decoration: none;
	color: #ffffff;
	
}
.contact {
	color: #ffffff;
	cursor: not-allowed;
	text-decoration: none;
}
.nav-about {
	text-decoration: none;
	color: #ffffff;
}

@media (min-width: 991px) {
	.navigation-list {
		display: flex;
	}
}
