.navigation {
	background-color: #4e4e4e;
}
.navigation-content {
	display: flex;
	align-items: center;

	height: 50px;
}
.my {
	color: #ffffff;
}
.navigation-list {
	display: flex;
	margin-left: 80px;
	margin-top: 18px;
	margin-bottom: 20px;
	align-items: center;
	gap: 46px;
	margin-left: auto;
	align-items: center;
	color: #ffffff;
}
